/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    padding: 20px;
    
  background-color:  #069C54;
    color: white;
    border-bottom: 5px solid  #069C54;
}

h1, h2, h3 {
    margin: 0;
}

/* Menu Section */
.menu {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff8f2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    background-color:  #069C54;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em;
}

button:hover {
    background-color: gray;
}

/* Order Form Section */
.order-form {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .menu-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }
}
